<a href="https://colab.research.google.com/github/Vieiraligia/Sprint-Engenharia-de-Dados/blob/main/C%C3%B3pia_de_BD_Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados - Prof. Sérgio Lifschitz

---

## Exercícios da Aula 2: Projeto Conceitual e Linguagem SQL DDL (criação e atualização de esquemas) e SQL DML (atualização de instâncias)

**Primeira Parte:** Projeto Conceitual com Diagramas ER

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1Sd8Nd1nraKALk-GqRszRCu4MZqmBDBE5/view?usp=sharing

Você irá praticar com a ferramenta BRmodelo.

Ao final deste COLAB, publicamos uma possível solução.

**Segunda Parte:** Voltamos a utilizar o SGBD PostgreSQL localmente.

Para a prática de SQL DML (atualização de instâncias) usando um esquema similar ao esquema CARROS da Aula 1.

## PASSO 1: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL

In [1]:
# %%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!pip install sqlalchemy==2.0
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Collecting sqlalchemy==2.0
  Downloading SQLAlchemy-2.0.0-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy==2.0) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy==2.0) (3.2.4)
Downloading SQLAlchemy-2.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 21.8 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.44
    Uninstalling SQLAlchemy-2.0.44:
      Successfully uninstalled SQLAlchemy-2.0.44
Successfully installed sqlalchemy-2.0.0
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 13.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package logrotate.
(Reading database ... 126718 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.040-0ubuntu0.22.04.1_amd64.deb ...
Unpacking libjson-xs-perl (4.040-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.19-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.19-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.19-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.19-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../12-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.040-0ubuntu0.22.04.1) ...
Setting up postgresql-client-14 (14.19-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.19-0ubuntu0.22.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

## PASSO 2: Preparo do Esquema Relacional CARROS2

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1B0OFWhCV8zOLt0FQ5KvCutLPhuMveZ84/view?usp=sharing

Diferentemente da aula 1, aqui você irá utilizar os comandos de criação do esquema CARROS2 propostos por você no seu próprio COLAB, seguindo as instruções do enunciado da Lista da Aula 2. Você pode utilizar os scripts do esquema CARROS da Aula 1 apenas como referência de "gabarito".

Os demais comandos (PLAY) de criação do esquema do BD Carros2 seguem iguais à aula 1.

In [7]:
# [2.1] Monta o diretório do Google Drive no seu Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:

# [2.2] Cria o esquema no banco de dados no Colab
# %%capture
# Garante que o schema seja recriado
!sudo -u postgres psql -d postgres -c 'DROP SCHEMA IF EXISTS carros2 CASCADE;'
!sudo -u postgres psql -d postgres -c 'CREATE SCHEMA carros2;'

# Executa o script SQL
!cp /content/drive/MyDrive/carros2.sql /content/

DROP SCHEMA
CREATE SCHEMA

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

Aqui nada muda em relação à Aula 1 - configuração para extensão SQL usando o SGBD PostgreSQL no seu COLAB.

In [9]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [11]:

# Carregando a extensão sql para usar o SQL pelo Google Colab
%reload_ext sql

## Prática de SQL DDL (esquemas) e DML (instâncias)

Criação e atualização do esquema CARROS2 implantado no SGBD PostgreSQL, seguindo as instruções dos exercícios desta aula 2.

In [14]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

In [18]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros2';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [34]:
%%sql
DROP SCHEMA IF EXISTS carros2 CASCADE;
CREATE SCHEMA carros2;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.

[]

In [35]:
!cp /content/drive/MyDrive/esquema_carros.sql /content/

In [39]:
%sql postgresql://postgres:senha@localhost:5432/Carros2

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 3269, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 1255, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 716, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/impl.py", line 168, in _do_get
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/util/langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/impl.py", line 166, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 678, in __init__
    self.__connect()
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 902, in __connect
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/util/langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/create.py", line 640, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/default.py", line 580, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
psycopg2.OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"
connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.12/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sql/connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 3245, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 2410, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/base.py", line 3269, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 1255, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 716, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/impl.py", line 168, in _do_get
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/util/langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/impl.py", line 166, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 678, in __init__
    self.__connect()
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 902, in __connect
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/util/langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/pool/base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/create.py", line 640, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/sqlalchemy/engine/default.py", line 580, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"
connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://postgres:***@localhost:5432/postgres'])

In [40]:
%%sql

-- TABELA: AUTOMOVEIS
-- ======================
CREATE TABLE AUTOMOVEIS (
    Codigo SERIAL PRIMARY KEY, -- código único por fabricante/modelo
    Fabricante VARCHAR(50) NOT NULL,
    Modelo VARCHAR(50) NOT NULL,
    Ano INT CHECK (Ano >= 1980 AND Ano <= 2025),
    Pais VARCHAR(30),
    Preco_tabela NUMERIC(12,2) CHECK (Preco_tabela > 0)
);

-- ======================
-- TABELA: REVENDEDORAS
-- ======================
CREATE TABLE REVENDEDORAS (
    CNPJ CHAR(14) PRIMARY KEY,
    Nome VARCHAR(60) NOT NULL,
    CPFproprietario CHAR(11),
    Estado CHAR(2) CHECK (Estado ~ '^[A-Z]{2}$')  -- restrição de domínio: UF válida
);

-- ======================
-- TABELA: CONSUMIDORES
-- ======================
CREATE TABLE CONSUMIDORES (
    CPF CHAR(11) PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Sobrenome VARCHAR(50),
    Data_Nascimento DATE CHECK (Data_Nascimento < CURRENT_DATE),
    Estado CHAR(2)
);

-- ======================
-- TABELA: NEGOCIOS
-- ======================
CREATE TABLE NEGOCIOS (
    CPFcomprador CHAR(11),
    CNPJrevenda CHAR(14),
    CodigoAuto INT,
    AnoAuto INT,
    Data DATE DEFAULT CURRENT_DATE,
    Preco NUMERIC(12,2) CHECK (Preco > 0)
    -- PK e FKs serão adicionadas depois
);

-- ======================
-- TABELA: GARAGENS
-- ======================
CREATE TABLE GARAGENS (
    CNPJrevenda CHAR(14),
    CodigoAuto INT,
    AnoAuto INT,
    Quantidade INT CHECK (Quantidade >= 0)
    -- PK e FKs serão adicionadas depois
);
-- AUTOMOVEIS
INSERT INTO AUTOMOVEIS (Fabricante, Modelo, Ano, Pais, Preco_tabela)
VALUES
('Toyota', 'Corolla', 2023, 'Japão', 145000.00),
('Volkswagen', 'Golf', 2022, 'Alemanha', 180000.00),
('Chery', 'Tiggo 8', 2021, 'China', 195000.00),
('Chevrolet', 'Onix', 2024, 'Brasil', 95000.00);

-- REVENDEDORAS
INSERT INTO REVENDEDORAS (CNPJ, Nome, CPFproprietario, Estado)
VALUES
('12345678000199', 'AutoCar Revendas', '12345678901', 'SP'),
('01861597000121', 'Concessionaria BSB', '12345678901', 'DF'),
('98765432000155', 'Mega Motors', '98765432100', 'RJ');

-- CONSUMIDORES
INSERT INTO CONSUMIDORES (CPF, Nome, Sobrenome, Data_Nascimento, Estado)
VALUES
('12345678900', 'João', 'Silva', '1990-05-15', 'SP'),
('49645040930', 'Caio', 'Marques', '1992-08-06', 'DF'),
('11122233344', 'Maria', 'Oliveira', '1985-10-02', 'RJ');

-- NEGOCIOS (sem PK e FK ainda)
INSERT INTO NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
VALUES
('49645040930', '98765432000155', 2, 2021, '2025-03-10', 190000.00)
('12345678900', '12345678000199', 1, 2023, '2024-03-10', 140000.00);

-- GARAGENS
INSERT INTO GARAGENS (CNPJrevenda, CodigoAuto, AnoAuto, Quantidade)
VALUES
('98765432000155', 3, 2022, 3),
('12345678000199', 4, 2024, 5);


-- Adicionando PK e FKs depois
ALTER TABLE NEGOCIOS
ADD CONSTRAINT pk_negocios PRIMARY KEY (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto);

ALTER TABLE NEGOCIOS
ADD CONSTRAINT fk_neg_cpf FOREIGN KEY (CPFcomprador) REFERENCES CONSUMIDORES(CPF),
ADD CONSTRAINT fk_neg_cnpj FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
ADD CONSTRAINT fk_neg_auto FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Codigo);

ALTER TABLE GARAGENS
ADD CONSTRAINT pk_garagens PRIMARY KEY (CNPJrevenda, CodigoAuto, AnoAuto);

ALTER TABLE GARAGENS
ADD CONSTRAINT fk_gar_cnpj FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
ADD CONSTRAINT fk_gar_auto FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Codigo);

-- Exemplo: adicionar novo atributo
ALTER TABLE AUTOMOVEIS ADD COLUMN Cor VARCHAR(20);

-- Remover atributo
ALTER TABLE AUTOMOVEIS DROP COLUMN Cor;

-- Atualizar o preço de tabela
UPDATE AUTOMOVEIS
SET Preco_tabela = 150000.00
WHERE Modelo = 'Corolla';

-- Deletar uma revendedora
DELETE FROM REVENDEDORAS
WHERE CNPJ = '98765432000155';


-- Testar PK duplicada (deve gerar erro)
INSERT INTO AUTOMOVEIS (Codigo, Fabricante, Modelo, Ano, Pais, Preco_tabela)
VALUES (1, 'Toyota', 'Corolla', 2023, 'Japão', 140000.00);

-- Testar FK inexistente (deve gerar erro)
INSERT INTO NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
VALUES ('99999999999', '00000000000100', 9, 2023, '2025-01-01', 100000.00);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
4 rows affected.
(psycopg2.errors.CheckViolation) new row for relation "revendedoras" violates check constraint "revendedoras_estado_check"
DETAIL:  Failing row contains (12345678000199, AutoCar Revendas, 12345678901, SP).

[SQL: -- REVENDEDORAS
INSERT INTO REVENDEDORAS (CNPJ, Nome, CPFproprietario, Estado)
VALUES
('12345678000199', 'AutoCar Revendas', '12345678901', 'SP'),
('01861597000121', 'Concessionaria BSB', '12345678901', 'DF'),
('98765432000155', 'Mega Motors', '98765432100', 'RJ');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [41]:
%%sql
ALTER TABLE REVENDEDORAS
ALTER COLUMN Estado TYPE VARCHAR(2);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [42]:
%%sql
ALTER TABLE REVENDEDORAS
DROP CONSTRAINT revendedoras_estado_check,
ADD CONSTRAINT revendedoras_estado_check CHECK (trim(Estado) ~ '^[A-Z]{2}$');

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [43]:
%%sql
ALTER TABLE REVENDEDORAS
DROP CONSTRAINT revendedoras_estado_check;

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [69]:
%%sql


-- ======================
-- TABELA: AUTOMOVEIS
-- ======================
DROP TABLE IF EXISTS NEGOCIOS CASCADE;
DROP TABLE IF EXISTS GARAGENS CASCADE;
DROP TABLE IF EXISTS CONSUMIDORES CASCADE;
DROP TABLE IF EXISTS REVENDEDORAS CASCADE;
DROP TABLE IF EXISTS AUTOMOVEIS CASCADE;

CREATE TABLE AUTOMOVEIS (
    Codigo SERIAL PRIMARY KEY,
    Fabricante VARCHAR(50) NOT NULL,
    Modelo VARCHAR(50) NOT NULL,
    Ano INT CHECK (Ano >= 1980 AND Ano <= 2025),
    Pais VARCHAR(30),
    Preco_tabela NUMERIC(12,2) CHECK (Preco_tabela > 0)
);

-- ======================
-- TABELA: REVENDEDORAS
-- ======================
CREATE TABLE REVENDEDORAS (
    CNPJ CHAR(14) PRIMARY KEY,
    Nome VARCHAR(60) NOT NULL,
    CPFproprietario CHAR(11),
    Estado VARCHAR(2)  -- VARCHAR(2) agora, sem erro
);

-- ======================
-- TABELA: CONSUMIDORES
-- ======================
CREATE TABLE CONSUMIDORES (
    CPF CHAR(11) PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Sobrenome VARCHAR(50),
    Data_Nascimento DATE CHECK (Data_Nascimento < CURRENT_DATE),
    Estado VARCHAR(2)
);

-- ======================
-- TABELA: NEGOCIOS
-- ======================
CREATE TABLE NEGOCIOS (
    CPFcomprador CHAR(11),
    CNPJrevenda CHAR(14),
    CodigoAuto INT,
    AnoAuto INT,
    Data DATE DEFAULT CURRENT_DATE,
    Preco NUMERIC(12,2) CHECK (Preco > 0)
);

-- ======================
-- TABELA: GARAGENS
-- ======================
CREATE TABLE GARAGENS (
    CNPJrevenda CHAR(14),
    CodigoAuto INT,
    AnoAuto INT,
    Quantidade INT CHECK (Quantidade >= 0)
);

-- ======================
-- INSERÇÃO DE DADOS
-- ======================

-- AUTOMOVEIS
INSERT INTO AUTOMOVEIS (Fabricante, Modelo, Ano, Pais, Preco_tabela)
VALUES
('Toyota', 'Corolla', 2023, 'Japão', 145000.00),
('Volkswagen', 'Golf', 2022, 'Alemanha', 180000.00),
('Chery', 'Tiggo 8', 2021, 'China', 195000.00),
('Chevrolet', 'Onix', 2024, 'Brasil', 95000.00);

-- REVENDEDORAS
INSERT INTO REVENDEDORAS (CNPJ, Nome, CPFproprietario, Estado)
VALUES
('12345678000199', 'AutoCar Revendas', '12345678901', 'SP'),
('01861597000121', 'Concessionaria BSB', '12345678901', 'DF'),
('98765432000155', 'Mega Motors', '98765432100', 'RJ');

-- CONSUMIDORES
INSERT INTO CONSUMIDORES (CPF, Nome, Sobrenome, Data_Nascimento, Estado)
VALUES
('12345678900', 'João', 'Silva', '1990-05-15', 'SP'),
('49645040930', 'Caio', 'Marques', '1992-08-06', 'DF'),
('11122233344', 'Maria', 'Oliveira', '1985-10-02', 'RJ');

-- NEGOCIOS
INSERT INTO NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
VALUES
('49645040930', '98765432000155', 2, 2021, '2025-03-10', 190000.00),
('12345678900', '12345678000199', 1, 2023, '2024-03-10', 140000.00);

-- GARAGENS
INSERT INTO GARAGENS (CNPJrevenda, CodigoAuto, AnoAuto, Quantidade)
VALUES
('98765432000155', 3, 2022, 3),
('12345678000199', 4, 2024, 5);

-- ======================
-- ADICIONAR RESTRIÇÕES
-- ======================

ALTER TABLE NEGOCIOS
ADD CONSTRAINT pk_negocios PRIMARY KEY (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto);

ALTER TABLE NEGOCIOS
ADD CONSTRAINT fk_neg_cpf FOREIGN KEY (CPFcomprador) REFERENCES CONSUMIDORES(CPF),
ADD CONSTRAINT fk_neg_cnpj FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
ADD CONSTRAINT fk_neg_auto FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Codigo);

ALTER TABLE GARAGENS
ADD CONSTRAINT pk_garagens PRIMARY KEY (CNPJrevenda, CodigoAuto, AnoAuto);

ALTER TABLE GARAGENS
ADD CONSTRAINT fk_gar_cnpj FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
ADD CONSTRAINT fk_gar_auto FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Codigo);

-- ======================
-- TESTES DE ALTERAÇÃO
-- ======================

ALTER TABLE AUTOMOVEIS ADD COLUMN Cor VARCHAR(20);
ALTER TABLE AUTOMOVEIS DROP COLUMN Cor;

UPDATE AUTOMOVEIS
SET Preco_tabela = 150000.00
WHERE Modelo = 'Corolla';

DELETE FROM REVENDEDORAS
WHERE CNPJ = '98765432000155';

-- Teste de PK duplicada (deve falhar)
-- INSERT INTO AUTOMOVEIS (Codigo, Fabricante, Modelo, Ano, Pais, Preco_tabela)
-- VALUES (1, 'Toyota', 'Corolla', 2023, 'Japão', 140000.00);

-- Teste de FK inexistente (deve falhar)
-- INSERT INTO NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
-- VALUES ('99999999999', '00000000000100', 9, 2023, '2025-01-01', 100000.00);

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
4 rows affected.
3 rows affected.
3 rows affected.
2 rows affected.
2 rows affected.
Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.
(psycopg2.errors.ForeignKeyViolation) update or delete on table "revendedoras" violates foreign key constraint "fk_neg_cnpj" on table "negocios"
DETAIL:  Key (cnpj)=(98765432000155) is still referenced from table "negocios".

[SQL: DELETE FROM REVENDEDORAS
WHERE CNPJ = '98765432000155';]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [68]:
%%sql

DELETE FROM REVENDEDORAS
WHERE CNPJ = '98765432000155';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[]

**Parte 1: Modelagem Conceitual**

Segue SUGESTÃO de solução de modelagem conceitual ER usando a ferramenta BRmodelo.

https://drive.google.com/file/d/10-lx_mCLC4svbnopnlBKxtfsBJGqdbXt/view?usp=sharing